.content__section {
  margin-bottom: 92px;
}

.content__section:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .content__section {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 520px) {
  .content__section {
    margin-bottom: 64px;
  }
}
